.entry {
    width:60%;
    height: auto;
    background-color: white;
    margin-left:255px;
    padding-left:10px;
    padding-top:30px;
    padding-bottom:25px;
}

.entrytitle {

    font-size:22px;
    color:rgb(46, 46, 46);
    font-weight: 700;
}

.entrytitle:hover {
    text-decoration: underline;
}

.entrybody {
    font-size:14px;
    color: rgb(46, 46, 46);
    font-weight: 400;
    line-height: 1.5;
}

.bottomMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nick {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.nick .date {
    color: #888;
    font-size: 12px;
}

.nick .name {
    margin-left:10px;
    color: #53a245;
    font-size: 12px;
    font-weight: 600;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    /* border: 1px solid red; */
}
.icons img{
    width: 12px;
    cursor: pointer;
    

}

.rotatearrow {
    transform: rotateX(150deg);
}

