.navbar {
    width: 20%;
    height: 84vh;
    background-color: white;
    position: fixed;
    overflow-y:scroll;
    margin-top:15px;
    /* scrollbar-color: auto transparent; */

}

.trend {
    height: 20px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.toptitle {
    color:#888;
    font-weight: 400;
    font-size: 18px;
    margin:0;
    padding:0;
    margin-right: 5px;
}

.settingsicon {
    width: 12px;
    height: 12px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.title:hover {
    background-color: rgba(128, 235, 233, 0.15);
}


.titlecontent {
    width: 100%;
    height: 100%;
    color: rgb(84, 83, 83);
    font-weight: 600;
    font-size: 12px;
    /* padding-right: 4px; */
    letter-spacing: 0.4;
    margin-right:10px;

}


.commentcount {
    /* margin-bottom:20px; */
    padding-right: 4px;
    color: rgb(141, 141, 141);
    font-weight: 400;
    font-size: 13px;
    font-family: inherit;
}


/* 
.navbar::-webkit-scrollbar {
    width: 1em;
  }
   
  .navbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .navbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  } */